<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <div class="table-responsive">
        <table class="table">
            {{#each categories}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
        </table>
        </div>
    </div>
    {{#unless posts}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>